In [1]:
import pandas as pd

In [2]:
spam_df =  pd.read_csv('../../witan/data/spam/SMSSpamCollection', sep='\t', names=['class', 'text'])

In [3]:
spam_df.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
spam_df.to_csv('../../witan/data/spam.csv', index=False)