In [1]:
import pandas as pd

In [2]:
tweets = pd.read_csv('../../witan/data/Tweets.csv')

In [3]:
tweets.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [4]:
tweets['airline_sentiment'].unique()

array(['neutral', 'positive', 'negative'], dtype=object)

In [6]:
tweets.shape

(14640, 15)

In [5]:
tweets_filtered = tweets[tweets['airline_sentiment']!='neutral']

In [7]:
tweets_filtered.shape

(11541, 15)

In [8]:
tweets_filtered[['airline_sentiment','text']].head()

  airline_sentiment                                               text
1          positive  @VirginAmerica plus you've added commercials t...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...
5          negative  @VirginAmerica seriously would pay $30 a fligh...
6          positive  @VirginAmerica yes, nearly every time I fly VX...

In [11]:
tweets_filtered = tweets_filtered[['text','airline_sentiment']]

In [12]:
tweets_filtered.to_csv('../../witan/data/Tweets_filtered.csv', index=False)