In [1]:
import pandas as pd

In [2]:

# Read the first column from the first .txt file
with open('../../witan/data/AGNews/AGNews/dataset.txt', 'r') as dataset_f:
    column1 = dataset_f.read().splitlines()

# Read the second column from the second .txt file
with open('../../witan/data/AGNews/AGNews/labels.txt', 'r') as file:
    column2 = file.read().splitlines()

with open('../../witan/data/AGNews/AGNews/classes.txt', 'r') as file:
    classes = file.read().splitlines()



# Create a DataFrame from the two columns
df = pd.DataFrame({
    'Column1': column1,
    'Column2': column2
})

print(df)

                                                  Column1 Column2
0       Wall St. Bears Claw Back Into the Black (Reute...       2
1       Carlyle Looks Toward Commercial Aerospace (Reu...       2
2       Oil and Economy Cloud Stocks' Outlook (Reuters...       2
3       Iraq Halts Oil Exports from Main Southern Pipe...       2
4       Oil prices soar to all-time record, posing new...       2
...                                                   ...     ...
119995  Pakistan's Musharraf Says Won't Quit as Army C...       0
119996  Renteria signing a top-shelf deal. Red Sox gen...       1
119997  Saban not going to Dolphins yet. The Miami Dol...       1
119998  Today's NFL games. PITTSBURGH at NY GIANTS Tim...       1
119999  Nets get Carter from Raptors. INDIANAPOLIS -- ...       1

[120000 rows x 2 columns]

In [3]:
classes

['Politics', 'Sports', 'Business', 'Technology']

In [4]:
classes_map = {str(k):v for k,v in enumerate(classes)}

In [5]:
classes_map

{'0': 'Politics', '1': 'Sports', '2': 'Business', '3': 'Technology'}

In [6]:
df['class'] = df['Column2'].replace(classes_map)

In [7]:
df.head()

                                             Column1 Column2     class
0  Wall St. Bears Claw Back Into the Black (Reute...       2  Business
1  Carlyle Looks Toward Commercial Aerospace (Reu...       2  Business
2  Oil and Economy Cloud Stocks' Outlook (Reuters...       2  Business
3  Iraq Halts Oil Exports from Main Southern Pipe...       2  Business
4  Oil prices soar to all-time record, posing new...       2  Business

In [8]:
filtered_df = df[(df['class']=='Business')|(df['class']=='Technology')]

In [9]:
filtered_df[['Column1','class']].to_csv('../../witan/data/agnews.csv', index=False)

In [11]:
filtered_df.groupby('class').size()

class
Business      30000
Technology    30000
dtype: int64