In [2]:
import pandas as pd

In [12]:

# Read the first column from the first .txt file
with open('../../witan/data/DBpedia/DBpedia/dataset.txt', 'r') as dataset_f:
    column1 = dataset_f.read().splitlines()

# Read the second column from the second .txt file
with open('../../witan/data/DBpedia/DBpedia/labels.txt', 'r') as file:
    column2 = file.read().splitlines()

with open('../../witan/data/DBpedia/DBpedia/classes.txt', 'r') as file:
    classes = file.read().splitlines()



# Create a DataFrame from the two columns
df = pd.DataFrame({
    'Column1': column1,
    'Column2': column2
})

print(df)

                                                  Column1 Column2
0       E. D. Abbott Ltd.  Abbott of Farnham E D Abbot...       0
1       Schwan-Stabilo.  Schwan-STABILO is a German ma...       0
2       Q-workshop.  Q-workshop is a Polish company lo...       0
3       Marvell Software Solutions Israel.  Marvell So...       0
4       Bergan Mercy Medical Center.  Bergan Mercy Med...       0
...                                                   ...     ...
559995  Barking in Essex.  Barking in Essex is a Black...      13
559996  Science & Spirit.  Science & Spirit is a disco...      13
559997  The Blithedale Romance.  The Blithedale Romanc...      13
559998  Razadarit Ayedawbon.  Razadarit Ayedawbon (Bur...      13
559999  The Vinyl Cafe Notebooks.  Vinyl Cafe Notebook...      13

[560000 rows x 2 columns]

In [13]:
classes

['Company',
 'School',
 'Artist',
 'Athlete',
 'Politics',
 'Transportation',
 'Building',
 'River',
 'Village',
 'Animal',
 'Plant',
 'Album',
 'Film',
 'Book']

In [18]:
classes_map = {str(k):v for k,v in enumerate(classes)}

In [19]:
classes_map

{'0': 'Company',
 '1': 'School',
 '2': 'Artist',
 '3': 'Athlete',
 '4': 'Politics',
 '5': 'Transportation',
 '6': 'Building',
 '7': 'River',
 '8': 'Village',
 '9': 'Animal',
 '10': 'Plant',
 '11': 'Album',
 '12': 'Film',
 '13': 'Book'}

In [20]:
df['class'] = df['Column2'].replace(classes_map)

In [21]:
df.head()

                                             Column1 Column2    class
0  E. D. Abbott Ltd.  Abbott of Farnham E D Abbot...       0  Company
1  Schwan-Stabilo.  Schwan-STABILO is a German ma...       0  Company
2  Q-workshop.  Q-workshop is a Polish company lo...       0  Company
3  Marvell Software Solutions Israel.  Marvell So...       0  Company
4  Bergan Mercy Medical Center.  Bergan Mercy Med...       0  Company

In [25]:
filtered_df = df[(df['class']=='Company')|(df['class']=='Politics')]

In [29]:
filtered_df[['Column1','class']].to_csv('../../witan/data/dbpedia_binary.csv', index=False)