In [2]:
import pandas as pd
import psycopg2
from rbbm_src.dc_src.DCRepair import (eq_op, 
 non_symetric_op,
#  dc_tuple_violation_template_targeted_t1,
#  dc_tuple_violation_template_targeted_t2
)
import re
from rbbm_src.dc_src.src.classes import parse_rule_to_where_clause
from string import Template

In [3]:
conn=psycopg2.connect('dbname=cr user=postgres')
dc_tuple_violation_template_targeted_t1=\
Template("SELECT DISTINCT $t1_desc,$t2_desc FROM $table t1, $table t2 WHERE $dc_desc")
dc_tuple_violation_template_targeted_t2=\
Template("SELECT DISTINCT $t1_desc,$t2_desc FROM $table t1, $table t2 WHERE $dc_desc")

In [4]:
cols_q = f"select * from flights_new limit 1"
df_row = pd.read_sql(cols_q, conn)

In [5]:
cols=list(df_row)

In [6]:
def construct_query_for_violation(role, dc_text, target_table, targeted, cols): 
    predicates = dc_text.split('&')
#     clause = parse_rule_to_where_clause(dc_text)
    constants=[]
    # print(f"t_interest:{t_interest}")
    need_tid=True 
    # if the constraint only has equals, we need to add an artificial
    # key (_tid_) to differentiate tuples in violation with the tuple it
    # self
    for pred in predicates[2:]:
        if(not eq_op.search(pred)):
            need_tid=False
        attr = re.search(r't[1|2]\.([-\w]+)', pred).group(1).lower()
        # print(attr)
#         constants.append(f'{role}.{attr}=\'{t_interest[attr]}\'')
    constants_clause = ' AND '.join(constants)
    # print(f"dc_text:{dc_text}")
    t1_cols=', '.join([f't1.{x} as t1_{x}' for x in cols])
    t2_cols=', '.join([f't2.{x} as t2_{x}' for x in cols])
    
    if(role=='t1'):
        template=dc_tuple_violation_template_targeted_t1
    else:
        template=dc_tuple_violation_template_targeted_t2
    if(targeted):
        r_q  = template.substitute(t1_desc=t1_cols, t2_desc=t2_cols,
                                   table=target_table, dc_desc=parse_rule_to_where_clause(dc_text),
                                           tuple_desc=constants_clause)

    else:
        r_q  = template.substitute(t1_desc=t1_cols, t2_desc=t2_cols,
                                   table=target_table, dc_desc=parse_rule_to_where_clause(dc_text))

        r_q+=f" AND t1._tid_!=t2._tid_"
#     print(r_q)

    return r_q

def find_tuples_in_violation(conn, dc_text, target_table, cols, targeted=False):
    if(non_symetric_op.search(dc_text)):
        q1= construct_query_for_violation('t1', dc_text, target_table, targeted)
        q2 = construct_query_for_violation('t2', dc_text, target_table, targeted)
        res = {'t1': pd.read_sql(q1, conn).to_dict('records'), 
        't2': pd.read_sql(q2, conn).to_dict('records')}
    else:
        q1= construct_query_for_violation('t1', dc_text, target_table, targeted, cols)
        print(q1)
        res = {'t1':pd.read_sql(q1, conn).to_dict('records')}
        # print(res)
    return res

In [7]:
dc_file='/home/opc/author/RBBM/rbbm_src/muse/data/mas/flights_dcfinder_rules.txt'
table_name='flights_new'
res=[]
rule_texts=[]
try:
    with open(dc_file, "r") as file:
        for line in file:
            rule_texts.append(line.strip())
            # rules_from_line = [(table_name, x) for x in convert_dc_to_muse_rule(line, 'adult', 't1')]
#             rules_from_line = [(table_name, x) for x in convert_dc_to_muse_rule(line, 'flights_new', 't1')]
#             res.extend(rules_from_line)
except FileNotFoundError:
    print("File not found.")
except IOError:
    print("Error reading the file.")

In [8]:
print(len(rule_texts))

83

In [9]:
dirty_tuples = set()

In [10]:
rules_with_stats={r:{} for r in rule_texts}

In [11]:
for r in rule_texts:
    res = find_tuples_in_violation(conn, r, table_name, cols)
    print(f"rule: {r}")
    for k in res:
        for pair in res[k]:
#             if(pair['t1_is_dirty']!=pair['t2_is_dirty']):
            dirty_tuples.add(pair['t1__tid_'])
            dirty_tuples.add(pair['t2__tid_'])
        len_cc = len([x for x in res[k] if (x['t1_is_dirty']==False and x['t2_is_dirty']==False)])
        len_non_cc = len([x for x in res[k] if not (x['t1_is_dirty']==False and x['t2_is_dirty']==False)])
        len_dd = len([x for x in res[k] if (x['t1_is_dirty']==True and x['t2_is_dirty']==True)])
        len_dc = len([x for x in res[k] if ((x['t1_is_dirty']==True and x['t2_is_dirty']==False) or \
                    (x['t1_is_dirty']==False and x['t2_is_dirty']==True))])
        rules_with_stats[r]['len_cc']=len_cc
        rules_with_stats[r]['len_dd']=len_dd
        rules_with_stats[r]['len_dc']=len_dc
        print(f"number of ccs:{len_cc}, number of non ccs: {len_non_cc}, number of dds: {len_dd}, number of dcs:{len_dc}")
#     break
    print('\n')

SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:1398, number of non ccs: 106, number of dds: 0, number of dcs:106


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME!=t2.DEST_CITY_NAME AND t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID!=t2.DEST_AIRPORT_ID AND t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
number of ccs:2304, number of non ccs: 84, number of dds: 0, number of dcs:84


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.CRS_DEP_TIME=t2.CRS_DEP_TIME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.CRS_DEP_TIME,t2.CRS_DEP_TIME)
number of ccs:2894, number of non ccs: 108, number of dds: 2, number of dcs:106


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
number of ccs:524, number of non ccs: 8, number of dds: 0, number of dcs:8


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:1532, number of non ccs: 22, number of dds: 0, number of dcs:22


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:478, number of non ccs: 26, number of dds: 0, number of dcs:26


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:5252, number of non ccs: 390, number of dds: 8, number of dcs:382


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ACTUAL_ELAPSED_TIME=t2.ACTUAL_ELAPSED_TIME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ACTUAL_ELAPSED_TIME,t2.ACTUAL_ELAPSED_TIME)
number of ccs:5028, number of non ccs: 228, number of dds: 2, number of dcs:226


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ARR_TIME=t2.ARR_TIME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ARR_TIME,t2.ARR_TIME)
number of ccs:774, number of non ccs: 34, number of dds: 0, number of dcs:34


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)
number of ccs:1440, number of non ccs: 70, number of dds: 2, number of dcs:68


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST=t2.DEST AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST,t2.DEST)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:670, number of non ccs: 30, number of dds: 0, number of dcs:30


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)
number of ccs:2864, number of non ccs: 88, number of dds: 0, number of dcs:88


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:652, number of non ccs: 36, number of dds: 0, number of dcs:36


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1.OP_UNIQUE_CARRIER=t2.OP_UNIQUE_CARRIER AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)
number of ccs:8938, number of non ccs: 490, number of dds: 16, number of dcs:474


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:752, number of non ccs: 32, number of dds: 0, number of dcs:32


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.DEST,t2.DEST)
number of ccs:2864, number of non ccs: 88, number of dds: 0, number of dcs:88


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1.DEST_STATE_ABR!=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:1894, number of non ccs: 94, number of dds: 0, number of dcs:94


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:1848, number of non ccs: 80, number of dds: 0, number of dcs:80


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM!=t2.DEST_STATE_NM AND t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)
number of ccs:452, number of non ccs: 22, number of dds: 0, number of dcs:22


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:1398, number of non ccs: 106, number of dds: 0, number of dcs:106


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)
number of ccs:498, number of non ccs: 2, number of dds: 0, number of dcs:2


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEP_TIME=t2.DEP_TIME AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.DEP_TIME,t2.DEP_TIME)
number of ccs:948, number of non ccs: 30, number of dds: 0, number of dcs:30


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1.DEST_STATE_ABR!=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)
number of ccs:1348, number of non ccs: 60, number of dds: 2, number of dcs:58


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:2736, number of non ccs: 140, number of dds: 2, number of dcs:138


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.CRS_ARR_TIME=t2.CRS_ARR_TIME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.CRS_ARR_TIME,t2.CRS_ARR_TIME)
number of ccs:1294, number of non ccs: 60, number of dds: 0, number of dcs:60


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)
number of ccs:5252, number of non ccs: 390, number of dds: 8, number of dcs:382


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST,t2.DEST)
number of ccs:498, number of non ccs: 2, number of dds: 0, number of dcs:2


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)
number of ccs:8260, number of non ccs: 352, number of dds: 4, number of dcs:348


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.ORIGIN_CITY_NAME!=t2.ORIGIN_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)
number of ccs:0, number of non ccs: 846, number of dds: 6, number of dcs:840


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.ORIGIN!=t2.ORIGIN AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN,t2.ORIGIN)
number of ccs:2576, number of non ccs: 286, number of dds: 0, number of dcs:286


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST,t2.DEST)
number of ccs:452, number of non ccs: 22, number of dds: 0, number of dcs:22


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST,t2.DEST)
number of ccs:1348, number of non ccs: 60, number of dds: 2, number of dcs:58


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM!=t2.ORIGIN_STATE_NM AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR!=t2.ORIGIN_STATE_ABR AND t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)
number of ccs:0, number of non ccs: 286, number of dds: 0, number of dcs:286


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:1894, number of non ccs: 94, number of dds: 0, number of dcs:94


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR!=t2.ORIGIN_STATE_ABR AND t1.ORIGIN=t2.ORIGIN AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN,t2.ORIGIN)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM!=t2.DEST_STATE_NM AND t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1.DEST_STATE_ABR!=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:1398, number of non ccs: 106, number of dds: 0, number of dcs:106


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM!=t2.DEST_STATE_NM AND t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.DEST_STATE_ABR=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:5252, number of non ccs: 390, number of dds: 8, number of dcs:382


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
number of ccs:478, number of non ccs: 26, number of dds: 0, number of dcs:26


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
number of ccs:1440, number of non ccs: 70, number of dds: 2, number of dcs:68


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM!=t2.DEST_STATE_NM AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST,t2.DEST)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:730, number of non ccs: 10, number of dds: 0, number of dcs:10


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DAY_OF_WEEK!=t2.DAY_OF_WEEK AND t1.ORIGIN_STATE_NM!=t2.ORIGIN_STATE_NM AND t1.OP_UNIQUE_CARRIER!=t2.OP_UNIQUE_CARRIER AND t1.DEST_STATE_ABR!=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_

rule: t1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:651924, number of non ccs: 26506, number of dds: 240, number of dcs:26266


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:652, number of non ccs: 36, number of dds: 0, number of dcs:36


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:452, number of non ccs: 22, number of dds: 0, number of dcs:22


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:1848, number of non ccs: 80, number of dds: 0, number of dcs:80


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM!=t2.ORIGIN_STATE_NM AND t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR!=t2.ORIGIN_STATE_ABR AND t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)
number of ccs:1348, number of non ccs: 60, number of dds: 2, number of dcs:58


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)
number of ccs:1398, number of non ccs: 106, number of dds: 0, number of dcs:106


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DISTANCE=t2.DISTANCE AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.DISTANCE,t2.DISTANCE)
number of ccs:1456, number of non ccs: 70, number of dds: 0, number of dcs:70


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)
number of ccs:1532, number of non ccs: 22, number of dds: 0, number of dcs:22


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)
number of ccs:5252, number of non ccs: 390, number of dds: 8, number of dcs:382


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)
number of ccs:2736, number of non ccs: 140, number of dds: 2, number of dcs:138


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)
number of ccs:3186, number of non ccs: 38, number of dds: 0, number of dcs:38


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1.ORIGIN_STATE_ABR=t2.ORIGIN_STATE_ABR AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)
number of ccs:8260, number of non ccs: 352, number of dds: 4, number of dcs:348


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST!=t2.DEST AND t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID!=t2.DEST_AIRPORT_ID AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST,t2.DEST)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.OP_CARRIER_FL_NUM=t2.OP_CARRIER_FL_NUM AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.OP_CARRIER_FL_NUM,t2.OP_CARRIER_FL_NUM)
number of ccs:204, number of non ccs: 10, number of dds: 0, number of dcs:10


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST=t2.DEST AND t1.DEST_STATE_ABR!=t2.DEST_STATE_ABR AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME!=t2.ORIGIN_CITY_NAME AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:0, number of non ccs: 846, number of dds: 6, number of dcs:840


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.ORIGIN_AIRPORT_ID!=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:2576, number of non ccs: 286, number of dds: 0, number of dcs:286


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST=t2.DEST AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST,t2.DEST)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:452, number of non ccs: 22, number of dds: 0, number of dcs:22


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1.DAY_OF_WEEK=t2.DAY_OF_WEEK AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)
number of ccs:3230, number of non ccs: 96, number of dds: 0, number of dcs:96


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_CITY_NAME!=t2.DEST_CITY_NAME AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST,t2.DEST)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST!=t2.DEST AND t1.DEST_CITY_NAME=t2.DEST_CITY_NAME AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)
number of ccs:2304, number of non ccs: 84, number of dds: 0, number of dcs:84


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN!=t2.ORIGIN AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.ORIGIN_AIRPORT_ID!=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM!=t2.DEST_STATE_NM AND t1.DAY_OF_WEEK!=t2.DAY_OF_WEEK AND t1.ORIGIN_STATE_NM!=t2.ORIGIN_STATE_NM AND t1.OP_UNIQUE_CARRIER!=t2.OP_UNIQUE_CARRIER AND t1._tid_!=t2._tid_

rule: t1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)
number of ccs:651924, number of non ccs: 26506, number of dds: 240, number of dcs:26266


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_STATE_NM=t2.DEST_STATE_NM AND t1.OP_UNIQUE_CARRIER=t2.OP_UNIQUE_CARRIER AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)
number of ccs:8938, number of non ccs: 490, number of dds: 16, number of dcs:474


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_NM=t2.ORIGIN_STATE_NM AND t1.DEST=t2.DEST AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST,t2.DEST)
number of ccs:1348, number of non ccs: 60, number of dds: 2, number of dcs:58


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_STATE_ABR!=t2.ORIGIN_STATE_ABR AND t1.ORIGIN_AIRPORT_ID=t2.ORIGIN_AIRPORT_ID AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DAY_OF_WEEK!=t2.DAY_OF_WEEK AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.DEST_AIRPORT_ID=t2.DEST_AIRPORT_ID AND t1.FL_DATE=t2.FL_DATE AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.FL_DATE,t2.FL_DATE)
number of ccs:670, number of non ccs: 30, number of dds: 0, number of dcs:30


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN_CITY_NAME=t2.ORIGIN_CITY_NAME AND t1.ORIGIN_STATE_NM!=t2.ORIGIN_STATE_NM AND t1._tid_!=t2._tid_
rule: t1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)
number of ccs:0, number of non ccs: 286, number of dds: 0, number of dcs:286


SELECT DISTINCT t1.day_of_week as t1_day_of_week, t1.fl_date as t1_fl_date, t1.op_unique_carrier as t1_op_unique_carrier, t1.op_carrier_fl_num as t1_op_carrier_fl_num, t1.origin_airport_id as t1_origin_airport_id, t1.origin as t1_origin, t1.origin_city_name as t1_origin_city_name, t1.origin_state_abr as t1_origin_state_abr, t1.origin_state_nm as t1_origin_state_nm, t1.dest_airport_id as t1_dest_airport_id, t1.dest as t1_dest, t1.dest_city_name as t1_dest_city_name, t1.dest_state_abr as t1_dest_state_abr, t1.dest_state_nm as t1_dest_state_nm, t1.crs_dep_time as t1_crs_dep_time, t1.dep_time as t1_dep_time, t1.crs_arr_time as t1_crs_arr_time, t1.arr_time as t1_arr_time, t1.actual_elapsed_time as t1_actual_elapsed_time, t1.distance as t1_distance, t1._tid_ as t1__tid_, t1.is_dirty as t1_is_dirty,t2.day_of_week as t2_day_of_week, t2.fl_date as t2_fl_date, t2.op_unique_carrier as t2_op_unique_carrier, t2.op_carrier_fl_num as t2_op_carrier_fl_num, t2.origin_airport_id as t2_origin_airport_id, t2.origin as t2_origin, t2.origin_city_name as t2_origin_city_name, t2.origin_state_abr as t2_origin_state_abr, t2.origin_state_nm as t2_origin_state_nm, t2.dest_airport_id as t2_dest_airport_id, t2.dest as t2_dest, t2.dest_city_name as t2_dest_city_name, t2.dest_state_abr as t2_dest_state_abr, t2.dest_state_nm as t2_dest_state_nm, t2.crs_dep_time as t2_crs_dep_time, t2.dep_time as t2_dep_time, t2.crs_arr_time as t2_crs_arr_time, t2.arr_time as t2_arr_time, t2.actual_elapsed_time as t2_actual_elapsed_time, t2.distance as t2_distance, t2._tid_ as t2__tid_, t2.is_dirty as t2_is_dirty FROM flights_new t1, flights_new t2 WHERE t1.ORIGIN=t2.ORIGIN AND t1.ORIGIN_STATE_NM!=t2.ORIGIN_STATE_NM AND t1._tid_!=t2._tid_

rule: t1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)
number of ccs:0, number of non ccs: 0, number of dds: 0, number of dcs:0

In [12]:
dirty_tuples

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999}

In [13]:
len(dirty_tuples)

1000

In [14]:
rules_with_stats

{'t1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 1398,
  'len_dd': 0,
  'len_dc': 106},
 't1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'len_cc': 2304,
  'len_dd': 0,
  'len_dc': 84},
 't1&t2&EQ(t1.CRS_DEP_TIME,t2.CRS_DEP_TIME)': {'len_cc': 2894,
  'len_dd': 2,
  'len_dc': 106},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'len_cc': 524,
  'len_dd': 0,
  'len_dc': 8},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 1532,
  'len_dd': 0,
  'len_dc': 22},
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 478,
  'len_dd': 0,
  'len_dc': 26},
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 5252,
  'len_dd': 8,
  'len_dc': 382},
 't1&t2&EQ(t1.ACTUAL_ELAPSED_TIME,t2.ACTUAL_ELAPSED_TIME)': {'len_cc': 5028,
  'len_dd': 2,
  'len_dc': 226},
 't1&t2&EQ(t1.ARR_TIME,t2.ARR_TIME)': {'len_cc': 774,
  'len_dd': 0,
  'len_dc': 34},
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)': {'len_cc': 1440,
  'len_dd': 2,
  'len_dc': 68},
 't1&t2&EQ(t1.DEST,t2.DEST)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 670,
  'len_dd': 0,
  'len_dc': 30},
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)': {'len_cc': 2864,
  'len_dd': 0,
  'len_dc': 88},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 652,
  'len_dd': 0,
  'len_dc': 36},
 't1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)': {'len_cc': 8938,
  'len_dd': 16,
  'len_dc': 474},
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 752,
  'len_dd': 0,
  'len_dc': 32},
 't1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.DEST,t2.DEST)': {'len_cc': 2864,
  'len_dd': 0,
  'len_dc': 88},
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 1894,
  'len_dd': 0,
  'len_dc': 94},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 1848,
  'len_dd': 0,
  'len_dc': 80},
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'len_cc': 452,
  'len_dd': 0,
  'len_dc': 22},
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 1398,
  'len_dd': 0,
  'len_dc': 106},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'len_cc': 498,
  'len_dd': 0,
  'len_dc': 2},
 't1&t2&EQ(t1.DEP_TIME,t2.DEP_TIME)': {'len_cc': 948,
  'len_dd': 0,
  'len_dc': 30},
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)': {'len_cc': 1348,
  'len_dd': 2,
  'len_dc': 58},
 't1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 2736,
  'len_dd': 2,
  'len_dc': 138},
 't1&t2&EQ(t1.CRS_ARR_TIME,t2.CRS_ARR_TIME)': {'len_cc': 1294,
  'len_dd': 0,
  'len_dc': 60},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'len_cc': 5252,
  'len_dd': 8,
  'len_dc': 382},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST,t2.DEST)': {'len_cc': 498,
  'len_dd': 0,
  'len_dc': 2},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)': {'len_cc': 8260,
  'len_dd': 4,
  'len_dc': 348},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)': {'len_cc': 0,
  'len_dd': 6,
  'len_dc': 840},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN,t2.ORIGIN)': {'len_cc': 2576,
  'len_dd': 0,
  'len_dc': 286},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST,t2.DEST)': {'len_cc': 452,
  'len_dd': 0,
  'len_dc': 22},
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST,t2.DEST)': {'len_cc': 1348,
  'len_dd': 2,
  'len_dc': 58},
 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 286},
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 1894,
  'len_dd': 0,
  'len_dc': 94},
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN,t2.ORIGIN)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 1398,
  'len_dd': 0,
  'len_dc': 106},
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 5252,
  'len_dd': 8,
  'len_dc': 382},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'len_cc': 478,
  'len_dd': 0,
  'len_dc': 26},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'len_cc': 1440,
  'len_dd': 2,
  'len_dc': 68},
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST,t2.DEST)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 730,
  'len_dd': 0,
  'len_dc': 10},
 't1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 651924,
  'len_dd': 240,
  'len_dc': 26266},
 't1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 652,
  'len_dd': 0,
  'len_dc': 36},
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 452,
  'len_dd': 0,
  'len_dc': 22},
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 1848,
  'len_dd': 0,
  'len_dc': 80},
 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'len_cc': 1348,
  'len_dd': 2,
  'len_dc': 58},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'len_cc': 1398,
  'len_dd': 0,
  'len_dc': 106},
 't1&t2&EQ(t1.DISTANCE,t2.DISTANCE)': {'len_cc': 1456,
  'len_dd': 0,
  'len_dc': 70},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'len_cc': 1532,
  'len_dd': 0,
  'len_dc': 22},
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)': {'len_cc': 5252,
  'len_dd': 8,
  'len_dc': 382},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)': {'len_cc': 2736,
  'len_dd': 2,
  'len_dc': 138},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)': {'len_cc': 3186,
  'len_dd': 0,
  'len_dc': 38},
 't1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)': {'len_cc': 8260,
  'len_dd': 4,
  'len_dc': 348},
 't1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST,t2.DEST)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.OP_CARRIER_FL_NUM,t2.OP_CARRIER_FL_NUM)': {'len_cc': 204,
  'len_dd': 0,
  'len_dc': 10},
 't1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 6,
  'len_dc': 840},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 2576,
  'len_dd': 0,
  'len_dc': 286},
 't1&t2&EQ(t1.DEST,t2.DEST)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 452,
  'len_dd': 0,
  'len_dc': 22},
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)': {'len_cc': 3230,
  'len_dd': 0,
  'len_dc': 96},
 't1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST,t2.DEST)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)': {'len_cc': 2304,
  'len_dd': 0,
  'len_dc': 84},
 't1&t2&IQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)': {'len_cc': 651924,
  'len_dd': 240,
  'len_dc': 26266},
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)': {'len_cc': 8938,
  'len_dd': 16,
  'len_dc': 474},
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST,t2.DEST)': {'len_cc': 1348,
  'len_dd': 2,
  'len_dc': 58},
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0},
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.FL_DATE,t2.FL_DATE)': {'len_cc': 670,
  'len_dd': 0,
  'len_dc': 30},
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 286},
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)': {'len_cc': 0,
  'len_dd': 0,
  'len_dc': 0}}

In [15]:
sorted(rules_with_stats, key=lambda k: rules_with_stats[k]['len_cc'], reverse=True)

['t1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&IQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)',
 't1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)',
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.OP_UNIQUE_CARRIER,t2.OP_UNIQUE_CARRIER)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)',
 't1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)',
 't1&t2&EQ(t1.ACTUAL_ELAPSED_TIME,t2.ACTUAL_ELAPSED_TIME)',
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)',
 't1&t2&EQ(t1.CRS_DEP_TIME,t2.CRS_DEP_TIME)',
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)',
 't1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.DEST,t2.DEST)',
 't1&t2&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN,t2.ORIGIN)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)',
 't1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)',
 't1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)',
 't1&t2&EQ(t1.DISTANCE,t2.DISTANCE)',
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)',
 't1&t2&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)',
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.DEST,t2.DEST)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.DEST,t2.DEST)',
 't1&t2&EQ(t1.CRS_ARR_TIME,t2.CRS_ARR_TIME)',
 't1&t2&EQ(t1.DEP_TIME,t2.DEP_TIME)',
 't1&t2&EQ(t1.ARR_TIME,t2.ARR_TIME)',
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.DEST,t2.DEST)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.DEST,t2.DEST)',
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.DEST,t2.DEST)',
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.DEST,t2.DEST)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.OP_CARRIER_FL_NUM,t2.OP_CARRIER_FL_NUM)',
 't1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)',
 't1&t2&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)',
 't1&t2&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)',
 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)',
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN,t2.ORIGIN)',
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&EQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)',
 't1&t2&IQ(t1.DEST_STATE_NM,t2.DEST_STATE_NM)&EQ(t1.DEST,t2.DEST)',
 't1&t2&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)&EQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)',
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)',
 't1&t2&IQ(t1.DEST,t2.DEST)&EQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)',
 't1&t2&IQ(t1.DEST_AIRPORT_ID,t2.DEST_AIRPORT_ID)&EQ(t1.DEST,t2.DEST)',
 't1&t2&EQ(t1.DEST,t2.DEST)&IQ(t1.DEST_STATE_ABR,t2.DEST_STATE_ABR)',
 't1&t2&IQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&IQ(t1.DEST_CITY_NAME,t2.DEST_CITY_NAME)&EQ(t1.DEST,t2.DEST)',
 't1&t2&IQ(t1.ORIGIN,t2.ORIGIN)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&IQ(t1.ORIGIN_STATE_ABR,t2.ORIGIN_STATE_ABR)&EQ(t1.ORIGIN_AIRPORT_ID,t2.ORIGIN_AIRPORT_ID)',
 't1&t2&IQ(t1.DAY_OF_WEEK,t2.DAY_OF_WEEK)&EQ(t1.FL_DATE,t2.FL_DATE)',
 't1&t2&EQ(t1.ORIGIN_CITY_NAME,t2.ORIGIN_CITY_NAME)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)',
 't1&t2&EQ(t1.ORIGIN,t2.ORIGIN)&IQ(t1.ORIGIN_STATE_NM,t2.ORIGIN_STATE_NM)']

In [16]:
len(list({k:v for k,v in rules_with_stats.items() if v['len_cc']==0}))

25